body {
    margin: 0;
    font-family: 'Comfortaa', Arial, sans-serif;
    background-color: #640ae5;
}

.navbar {
    background-color: #640ae5;
    padding: 10px 0;
    margin-top: 20px; /* Ajuste este valor conforme necessário */
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.nav-item, .nav-logo {
    margin: 0 20px;
}

.nav-item a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-family: 'Comfortaa', Arial, sans-serif;
}

.nav-item a:hover {
    color: #ff3366;
}

.nav-logo img {
    height: 40px;
}

.hero-text {
    color: white;
    text-align: left; /* Ajustar o alinhamento do texto à esquerda */
    position: absolute;
    top: 30%; /* Ajuste este valor conforme necessário para posicionar verticalmente */
    left: 10%; /* Ajuste este valor conforme necessário para posicionar horizontalmente */
    transform: translateY(-30%);
    width: auto;
}

.hero-text h1, .hero-text h2, .hero-text h3 {
    animation: focus-in-expand 1.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.hero-text h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700; /* Peso +732 */
    font-size: 80px; /* Aumentar o tamanho do texto */
    margin: 0;
    line-height: 0.8; /* Ajuste o espaçamento entre as linhas */
}

.hero-text h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600; /* Peso +600 */
    font-size: 80px; /* Aumentar o tamanho do texto */
    margin: 0;
    letter-spacing: 12px; /* Ajuste o espaçamento entre letras conforme necessário */
    line-height: 1.3; /* Ajuste o espaçamento entre as linhas */
}

.hero-text h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800; /* Peso +806 */
    font-size: 80px; /* Aumentar o tamanho do texto */
    margin: 0;
    letter-spacing: 30px; /* Ajuste o espaçamento entre letras conforme necessário */
    line-height: 0.8; /* Ajuste o espaçamento entre as linhas */
}

@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

@media (max-width: 768px) {
    .nav-list {
        flex-direction: column;
    }

    .nav-item, .nav-logo {
        margin: 10px 0;
    }

    .hero-text {
        position: static;
        transform: none;
        text-align: center;
        width: 100%;
        margin-top: 20px;
    }

    .hero-text h1, .hero-text h2, .hero-text h3 {
        font-size: 40px; /* Ajuste proporcional para dispositivos menores */
        letter-spacing: normal; /* Resetting letter-spacing for smaller screens */
        line-height: normal; /* Resetting line-height for smaller screens */
    }
}
